@font-face 
{
  font-family: "inter-Regular";
  src: local("inter-Regular"),
   url(assets/font/Inter-Regular.ttf) format("truetype");
}

body 
{
  margin: 0;
  font-family: 'Inter';

}
  

p, h1, h2, h3, h4, input, a, button { font-family: "inter-Regular"; }
.flex { display: flex; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.center { justify-content: center; align-items: center; }
.h1 { margin: 0; }