
.navbar
{
  position: relative;
  height: 9%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: black;
  z-index: 11;
  border-bottom: 1px solid white;
}

.navbar > * 
{
    flex: 1;
}

.navbar-logo-core
{
  width: auto;
  height: 60%;
  margin-left: 5%
}
.navbar-logo
{ 
  width: 100%; 
  height: 100%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.logo-crest
{
  height: 100%;
  width: auto;
}


.navbar-title
{
  width: 33.3%;
}

.navbar-button 
{ 
  width: 33.3%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}


.button
{
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
}

.button:hover{ transform: scale(0.95, 0.95); }

.dapp-button
{
  margin-right: 5%;
  height: 40%;
  width: 30%;
  background: linear-gradient(223.25deg, #FF1887 6.33%, #0085FF 41.92%, #00FBBF 85.72%);
  border-radius: 10px !important;
  border: 0;
}

.navbar-address-core
{
  height: 100%;
  width: 50%;
}

.navbar-address
{
  text-align: center;
  word-break: break-all;
  margin-right: 5%;
}

#WEB3_CONNECT_MODAL_ID
{
  position: relative;
  z-index: 999;
}

.web3modal-modal-card
{
  height: 40% !important;
  width: 40% !important;
  max-width: 40% !important;
  background: black !important;
  border: 0;
  border-right: 3px solid rgb(0, 133, 255) !important;
  border-left: 3px solid rgba(255, 26, 136, 0.8) !important;
  background-image: linear-gradient(90deg, rgb(255, 26, 136), #0085FF),linear-gradient(90deg, rgb(255, 26, 136), #00FBBF) !important;
  background-size: 100% 2px !important;
  background-position: 0 0, 0 100% !important;
  background-repeat: no-repeat !important;
  /* border-radius: 68px !important; */
  color: white;
  font-family: "Infos";
  grid-template-columns: none !important;
}


.web3modal-provider-container
{
  background: #0B0B0F !important;
  
  color: white;
  font-family: "Infos";
}

.web3modal-modal-hitbox
{
  background: rgba(37, 41, 46, 0.95);
}


.walletconnect-modal__base
{
  height: 61% !important;
  background: black !important;
  border: 0;
  border-right: 3px solid rgb(0, 133, 255) !important;
  border-left: 3px solid rgba(255, 26, 136, 0.8) !important;
  background-image: linear-gradient(90deg, rgb(255, 26, 136), #0085FF),linear-gradient(90deg, rgb(255, 26, 136), #00FBBF) !important;
  background-size: 100% 2px !important;
  background-position: 0 0, 0 100% !important;
  background-repeat: no-repeat !important;
}

.walletconnect-modal__mobile__toggle, .walletconnect-search__input
{
  background: #1f1f24 !important;
  color: white !important;
}

.walletconnect-modal__mobile__toggle_selector
{
  background: #2e2e37 !important;
}

.walletconnect-qrcode__text
{
  color: rgb(181 181 181 / 60%) !important;
}

.walletconnect-qrcode__image
{
  width: 80% !important;
}